version: "3.9"
services:
  db:
    container_name: db
    image: postgres:14.5-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=nastenka
    ports:
      - ${DB_PORT:-5432}:5432
  backend:
    image: nastenka:latest
    restart: always
    depends_on: 
      - db
    ports:
      - ${PORT:-8080}:8080
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/nastenka     
