name: CI
on:
  push:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin
      - name: Cache SBT
        uses: coursier/cache-action@v6
      - name: Validate project    
        run: sbt validate  
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin
      - name: Cache SBT
        uses: coursier/cache-action@v6
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
          cache-dependency-path: frontend/yarn.lock
      - name: Setup yarn
        uses: borales/actions-yarn@v4
      - name: Publish project
        env:
          JIB_TARGET_IMAGE_USERNAME: johnspade
          JIB_TARGET_IMAGE_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
        run: sbt publishDockerContainer  
